body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.color-container {
    background-color: bisque;
    width: 300px;
    height: 300px;
    color: white;
    margin: 8px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}